.project-list {
  padding: 2rem;
}

.tabs button {
  margin-right: 0.5rem;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.project-empty {
  margin-top: 2rem;
  text-align: center;
  color: #666;
}
